In [ ]:
print("hello world")

hello world

In [ ]:
print("Siddharth!!!!")

Siddharth!!!!

In [ ]:
ashdkjas

In [ ]:
a=123 # the following code snipets shows memory management
print(id(a))
b=123
print(id(b))
c=567
print(id(c))

10754760
10754760
138807134478032

In [ ]:
a=b=10 # Variable assignment
c=20
print(a,b,c)

10 10 20

In [ ]:
from ast import keyword
import keyword as kw
print(keyword.kwlist)
print(kw.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
False=10 # Keywords cannot be used as variable
print (false)

SyntaxError: cannot assign to False (<ipython-input-9-eb97be07a03a>, line 1)

In [ ]:
#multilile comment
""" hllllll
hohohouip
lkjljlk"""
print("Hi")

Hi

In [ ]:
#multilile string
st=""" hllllll
hohohouip
lkjljlk"""
print(st)

 hllllll
hohohouip
lkjljlk

In [ ]:
#DAY8
#Dictionary

In [7]:

d1= {2:100,
     4:200,
     6:300,
     8:400,
     10:500}
print(d1)
print(type(d1))
print(d1[2])
print(d1[10])

{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}
<class 'dict'>
100
500
<built-in method keys of dict object at 0x7a0382feb3c0>
<class 'dict'>

In [13]:
d2={'aa':100,
    'bb':200,
    'cc':300}
print(d2)
print(d2['cc'])

{'aa': 100, 'bb': 200, 'cc': 300}
300

In [14]:
d3={3:[1,2,3],
    6:(4,5,6),
    9:"NTT"}
print(d3)
print(d3[3])
print(d3[6])
print(d3[9])

{3: [1, 2, 3], 6: (4, 5, 6), 9: 'NTT'}
[1, 2, 3]
(4, 5, 6)
NTT

In [17]:
d4={(1,2):100,
    (3,4):200,
    (5,6):300}
print(d4)
print(d4[(1,2)])

{(1, 2): 100, (3, 4): 200, (5, 6): 300}
100

In [19]:
d5={3:100,
    (3,4):200,
    "hi":300}
print(d5)
print(d5["hi"])

{3: 100, (3, 4): 200, 'hi': 300}
300

In [23]:
#iterate through Dictionary
d1= {2:100,
     4:200,
     6:300,
     8:400,
     10:500}


for key1 in d1:
 print(key1)


print(type(d1))
print(d1[2])
print(d1[10])

2
4
6
8
10
<class 'dict'>
100
500

In [24]:
#iterate through values


d1= {2:100,
     4:200,
     6:300,
     8:400,
     10:500}


for values in d1.values():
   print(values)

100
200
300
400
500

In [28]:
#iterate through items
d1= {2:100,
     4:200,
     6:300,
     8:400,
     10:500}


for items in d1.items():
   print(items)

(2, 100)
(4, 200)
(6, 300)
(8, 400)
(10, 500)

In [32]:
d1= {2:100,
     4:200,
     6:300,
     8:400,
     10:500}


for xx,yy in d1.items():
   print(xx)
   print(yy)

2
100
4
200
6
300
8
400
10
500

In [35]:
d1= {2:100,
     4:200,
     6:300,
     8:400,
     11:500}


if 2 in d1:
   print("2 is present")
if 10 not in d1:
   print("10 is not present")

2 is present
10 is not present

In [29]:
d1= {2:100,
     4:200,
     6:300,
     8:400,
     10:500}


for key in d1:
   print(d1[key])

100
200
300
400
500

In [42]:
#inbuit methods

#keys

d1= {2:100,
     4:200,
     6:300,
     8:400,
     11:500}

keys = d1.keys()
print(keys)
print(type(keys))

#list
l1= list(keys)
print(l1)
print(type(l1))

#values
values = d1.values()
print(values)
print(type(values))

#items
it= d1.items()
print(it)

#get
val = d1.get(4)
print(val)
val=d1.get(10,-100) # -100 is default value
print(val)

dict_keys([2, 4, 6, 8, 11])
<class 'dict_keys'>
[2, 4, 6, 8, 11]
<class 'list'>
dict_values([100, 200, 300, 400, 500])
<class 'dict_values'>
dict_items([(2, 100), (4, 200), (6, 300), (8, 400), (11, 500)])
200
-100

In [51]:
#pop

d1= {2:100,
     4:200,
     6:300,
     8:400
     }

val = d1.pop(4)
print(val)
print(d1)

val2 = d1.pop(10,1000) #1000 is default we are providing as 10 is not part of d1 for no err throw
print(val2)
print(d1)

200
{2: 100, 6: 300, 8: 400}
1000
{2: 100, 6: 300, 8: 400}

In [54]:
#update

d1= {2:100,
     4:200,
     6:300,
     8:400
     }

d2={10:1000,20:2000}

d1.update(d2)
print(d1)
d1.update({2:10000,200:20000})
print(d1)

{2: 100, 4: 200, 6: 300, 8: 400, 10: 1000, 20: 2000}
{2: 10000, 4: 200, 6: 300, 8: 400, 10: 1000, 20: 2000, 200: 20000}

In [55]:
d1= {2:100,
     4:200,
     6:300,
     2:400
     }

print(d1) #key is unique values got updated

{2: 400, 4: 200, 6: 300}

In [56]:
#clear
d1= {2:100,
     4:200,
     6:300,
     2:400
     }

print(d1)
d1.clear()
print(d1)

{2: 400, 4: 200, 6: 300}
{}

In [58]:
#copy
d1= {2:100,
     4:200,
     6:300,
     8:400
     }

d2=d1.copy()

print(d1)
print(d2)
print(id(d1))
print(id(d2))

{2: 100, 4: 200, 6: 300, 8: 400}
{2: 100, 4: 200, 6: 300, 8: 400}
134155206057472
134155206061760

In [59]:
#copy
import copy
d1= {2:100,
     4:200,
     6:300,
     8:400
     }

d2=copy.deepcopy(d1)

print(d1)
print(d2)
print(id(d1))
print(id(d2))

{2: 100, 4: 200, 6: 300, 8: 400}
{2: 100, 4: 200, 6: 300, 8: 400}
134155206052544
134155206063808

In [61]:
#from keys

keys=[1,2,3,4]
d1=dict.fromkeys(keys,2000)

print(d1)

{1: 2000, 2: 2000, 3: 2000, 4: 2000}

In [62]:
#create dict from zip

keys=[1,2,3,4]
v=[10,20,30,40]
d1=dict(zip(keys,v))

print(d1)

{1: 10, 2: 20, 3: 30, 4: 40}

In [ ]:
# Assignment
s = " I live in blr, blr is a garden city and beautiful city"   # input


{'I':1 , 'live':1, 'in':2, 'blr':2, 'is':1, 'a':1, 'garden':1, 'city':2} # output